---
import Layout from "../layouts/Layout.astro";
import MainCover from "../components/MainCover.astro";
import { mainCoverData, keySentences } from "../data/data";
import SocialMedia from "../components/SocialMedia.astro";
---

<Layout title="Matías Gelpi">
  <main class="flex min-h-screen flex-col grow  justify-between">
    <MainCover {...mainCoverData} />
    <SocialMedia {keySentences} />
  </main>
</Layout>
