---
import Layout from "../layouts/Layout.astro";
import MainCover from "../components/MainCover.astro";
import { mainCoverData, keySentences } from "../data/data";
import SkillsSection from "../components/SkillsSection.astro";
---

<Layout title="Matías Gelpi">
  <main class="flex min-h-screen w-full sm:w-9/12 flex-col grow
  sm:border-x-8 border sm:border-gray-950
  ">
    <MainCover {...mainCoverData} />
    <SkillsSection {keySentences} />
  </main>
</Layout>
