---
import SkillIcon from "./SkillIcon.astro";

const { keySentences } = Astro.props;
---

<section
  class="grow flex w-full flex-col justify-center gap-2 blue-gradient p-4 overflow-hidden"
>
  <p class="self-center text-white font-bold text-2xl">
    Skills: <span class="text-xl font-normal">
      Sé inglés(upper intermediate) y metodolofías ágiles pero además:</span
    >
  </p>
  {
    keySentences.map((sentence: { noun: string[]; verb: string }) => (
      <div class="flex flex-col gap-2 overflow-hidden">
        <p class="text-white text-center text-xl font-semibold">
          {" "}
          + {sentence.verb}
        </p>
        <div
          class=" flex flex-col  items-center  max-sm:items-start
           max-sm:overflow-x-scroll "
        >
          <div
            class="
            flex gap-2 animate-jump-in animate-duration-[2100ms]  "
          >
            {sentence?.noun?.map((noun: string) => (
              <div class="p-2 min-w-20 flex flex-col items-center gap-1 rounded-lg bg-slate-600 hover:animate-wiggle">
                <SkillIcon width="45" height="45" name={noun} />
                <p class="text-white text-xs uppercase">{noun}</p>
              </div>
            ))}
          </div>

          <div />
        </div>
      </div>
    ))
  }
</section>
