---
import SkillIcon from "./SkillIcon.astro";
import Badge from "./badge.astro";

const { keySentences } = Astro.props;
---

<section
  class="flex flex-col w-full gap-3 bg-[var(--lighter-blue)] p-4 overflow-hidden"
>
  <Badge name="Habilidades" />

  <div class="flex gap-2 max-sm:flex-col">
    {
      keySentences.map((sentence: { noun: string[]; verb: string }) => (
        <div class="  flex flex-col  gap-2 overflow-hidden">
          <p class="text-[var(--main-blue)] text-center text-xl font-semibold">
            {" "}
            {sentence.verb}
          </p>
          <div
            class=" flex flex-col  max-sm:items-start
           max-sm:overflow-x-scroll "
          >
            <div
              class="
            flex justify-center rounded-lg bg-[var(--light-blue-opacity-5)] p-2 flex-wrap gap-3 animate-jump-in animate-duration-[1100ms]  "
            >
              {sentence?.noun?.map((noun: string) => (
                <div class="p-2 min-w-24 flex flex-col items-center gap-1 rounded-lg bg-slate-600 hover:animate-wiggle">
                  <SkillIcon width="40" height="40" name={noun} />
                  <p class="text-white text-xs uppercase">{noun}</p>
                </div>
              ))}
            </div>

            <div />
          </div>
        </div>
      ))
    }
  </div>
</section>
