---


const { keySentences } = Astro.props;
---

<section class="grow flex w-full max-sm:flex-col-reverse justify-center gap-3 blue-gradient p-4">
  <div class="flex flex-col gap-3">
    {
      keySentences.map((sentence: { noun: string; verb: string }) => (
        <div
          class="text-white text-sm flex max-sm:flex-col max-sm:p-1 items-center justify-center rounded-xl
          bg-[var(--main-blue)] pl-1 pr-1"
        >
          <p> + {sentence.verb}</p>
          <p class="font-extrabold">{sentence.noun}</p>
        </div>
      ))
    }
  </div>
</section>
